brotli
certifi
charset-normalizer
colorama
filelock
gmpy2
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy==1.26.4
opencv-python>=4.11,<4.12
opencv-python-headless>=4.11,<4.12
pillow==11.1.0
PySocks
PyYAML==6.0.2
requests
sympy
tqdm==4.67.1
typing_extensions
urllib3
torch==2.5.1
torchvision==0.20.1
